@charset "UTF-8";
@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);
* { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }

/* 여백초기화 */
div.container.px-5{
    padding-left: 0;
    padding-right: 0;
}
.col-lg-6 {
    padding: 0;
}

/* 네비게이션 */
#mainNav .container{
    max-width: 1200px;
}
#mainNav div.container.px-5 .navbar-brand.fw-bold{
    font-weight: 900;
}
#mainNav .container.px-5 #navbarResponsive ul {
    margin-left: 85px;
}
#mainNav .container.px-5 #navbarResponsive ul li {
    margin-right: 24px;
}
#mainNav .container.px-5 #navbarResponsive ul li a {
    padding: 28px 0;
    margin: 0;
}

.container {
    max-width: 1200px;
}
/* 메인 */
.masthead {
    height: 1000px;
    background-image: url(../assets/img/componant/circle_people.png), url(../assets/img/componant/raise_hand.png),url(../assets/img/componant/big_name.png), url(../assets/img/componant/small_name.png);
    background-repeat: no-repeat;
    background-position: 90% 30%, 2% 100%, 10% 30%, 90% 100%;
    background-color: #fff;
}
.masthead .col-lg-6 {
    padding-right: 0;
}
.row.gx-5.align-items-center {
    margin-top: 130px;
}
.main_small {
    font-size: 48px;
    font-weight: 500;
}
.main_big {
    font-size: 120px;
    font-weight: 700;
    margin-top: 30px;
}
.sub_text {
    font-size: 16px;
    font-weight: 400;
}
.lead.fw-normal.text-muted.mb-5 {
    margin-top: 60px;
}

/* 섹션 공통 */
h2.section_title {
    font-size: 60px;
    font-weight: 700;
}
p.section_sub {
    font-size: 16px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 60px;
}
/* WORKS */
#works .works_wrap {
    display: flex;
    justify-content: space-between;
}
#works .container {
    padding: 0;
}
.works_wrap .left_wrap, .works_wrap .right_wrap .box {
    border-radius: 30px;
}
#works .left_wrap {
    width: 580px;
    height: 700px;
    background-color: #D6F2DE;
    background-image: url(../assets/img/componant/uiux.png), url(../assets/img/componant/phone1.png);
    background-repeat: no-repeat;
    background-size: 50%, 56%;
    background-position: 20% 100%, 70% 101%;
}
#works .right_wrap {
    align-content: space-between;
}
#works .works_wrap p {
    font-size: 36px;
    font-weight: 700;
    padding-top: 50px;
}
#works .works_wrap .left_wrap p {
    text-align: center;
}
#works .works_wrap .right_wrap div:first-child {
    background-color: #D2EFFF;
    background-image: url(../assets/img/componant/souvenir.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 10% 100%
}
#works .works_wrap .right_wrap div:first-child p {
    text-align: right;
    padding-right: 50px;
}
#works .works_wrap .right_wrap div:nth-child(2) {
    background-color: #FFD96D;
    background-image: url(../assets/img/componant/publication.png);
    background-repeat: no-repeat;
    background-size: 40%;
    background-position: 80% 101%;
}
#works .works_wrap .right_wrap div:nth-child(2) p {
    text-align: left;
    padding-left: 50px;
}
#works .right_wrap .box {
    width: 580px;
    height: 330px;
    background-color: rgb(98, 148, 212);
}
#works .right_wrap .box:nth-child(2) {
    margin-top: 40px;
}

/* 선수촌 */
.playchon_box{
    height: 1080px;
    background-image: url(../assets/img/componant/tablet1.png), url(../assets/img/componant/bg_Playchon.png);
    background-repeat: no-repeat;
    background-position: 50% 100%;
}
.btn_playchon {
    width: 240px;
    height: 63px;
    background-color: #FDDC7F;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 500px;
}
.btn_playchon span {
    font-size: 20px;
    font-weight: 400;
    color: black;
}

/* 포트폴리오 */
#portfolio .row.thumbnail_area div.col-sm-6.col-md-4 {
    margin-top: 100px;
}
#portfolio .row.thumbnail_area .col-sm-6.col-md-4.topmargin0{
    margin-top: 0;
}
#portfolio .row.thumbnail_area div.thumbnail {
    width: 340px;
    height: 350px;
}
#portfolio .row.thumbnail_area div.thumbnail .img_wrap {
    width: 340px;
    height: 260px;
    overflow: hidden;
    border-radius: 30px;
}
#portfolio .row.thumbnail_area div.thumbnail:hover img, #portfolio .row.thumbnail_area div.thumbnail .img_wrap img:hover {
    transform: scale(1.5, 1.5);
    transition-duration: 0.5s;
}
#portfolio .row.thumbnail_area div.thumbnail .img_wrap img {
    width: 340px;
    height: 260px;
    border-radius: 30px;
    transition-duration: 1s;
}

/* a태그 스타일 삭제 */
#portfolio .row.thumbnail_area div.thumbnail .caption a:link, 
#portfolio .row.thumbnail_area div.thumbnail .caption a:visited,
#portfolio .row.thumbnail_area div.thumbnail .caption a:hover{
    color: black;
    text-decoration: none;
}
#portfolio .row.thumbnail_area div.thumbnail .caption h3 {
    font-size: 24px;
    font-weight: 400;
    margin-top: 30px;
    text-align: center;
}
#portfolio .row.thumbnail_area div.thumbnail .caption .portfolio_tag_area {
    display: flex;
    justify-content: center;
}
#portfolio .row.thumbnail_area div.thumbnail .caption span {
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    display: inline-block;
    margin: 0 11px;
}
#portfolio .row.thumbnail_area .portfolio_more {
    width: 330px;
    height: 50px;
    border: 1px solid #3f68f7;
    background-color: #fff;
    color: #000;
    margin: 100px auto 0;
}
#portfolio .row.thumbnail_area .portfolio_more:hover {
    background-color: #3f68f7;
    color: #fff;
}

/* 컨택트 */
#map {
    width: 660px;
    height: 415px;
    background-color: #fff3d3;
}
.contact_flex {
    display: flex;
    justify-content: space-between;
}
#contact .contact_text {
    margin-left: 100px;
}
#contact .contact_text h2 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 40px;
}
#contact .contact_text h2 span {
    font-size: 16px;
    font-weight: 400;
    display: inline-block;
    margin-left: 20px;
}
#contact .contact_text p:nth-child(1) {
    margin-bottom: 0;
}